<form class="layui-form" action="{:url(($formData ?  'home/Article/edit' : 'home/Article/add'))}{$formData ? '?id='.$formData['id'] : ''}" method="POST">
    <div class="layui-form-item">
        <label class="layui-form-label">分类</label>
        <div class="layui-input-block">
            <select name="type" value="{$formData ? $formData['type'] : ''}" lay-verify="required">
                <option value="">请选择所属分类</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">标题</label>
      <div class="layui-input-block">
        <input type="text" name="title" value="{$formData ? $formData['title'] : ''}" required  lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <textarea name="description" placeholder="请输入描述" class="layui-textarea">{$formData ? $formData['description'] : ''}</textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">发布时间</label>
        <div class="layui-input-block">
            <input type="text" name="release_time" id="release_time" value="{$formData ? $formData['release_time'] : ''}" required  lay-verify="required" placeholder="请选择发布时间" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">来源</label>
        <div class="layui-input-block">
            <input type="text" name="source" value="{$formData ? $formData['source'] : ''}" required  lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">来源URL</label>
        <div class="layui-input-block">
            <input type="text" name="source_url" value="{$formData ? $formData['source_url'] : ''}" required  lay-verify="required" placeholder="请输入来源URL" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">正文内容</label>
        <div class="layui-input-block">
            <textarea name="content" id="content" placeholder="请输入正文内容" class="layui-textarea">{:$formData ? html_entity_decode($formData['content']) : ''}</textarea>
        </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-input-block">
        <button class="layui-btn" lay-submit lay-filter="post">立即提交</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
      </div>
    </div>
  </form>  
    {include file="system@block/layui" /}
    {:editor(['content'],'ueditor')}
    <script type="text/javascript" src="__ADMIN_MOD_JS__/jquery-3.4.1.min.js"></script>
    <script>
    layui.link("__ADMIN_MOD_CSS__/form.css");
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        
        //执行一个laydate实例
        laydate.render({
            elem: '#release_time' //指定元素
            ,type: 'datetime'
            // ,format: 'yyyy/MM/dd HH:mm:ss'
        });
    });
    //Demo
    layui.use('form', function(){
        var form = layui.form;
        $.get("{:url('home/Article/select')}",function(res) {
            if(res.code==1) {
                var optionDomStr = '';
                if($("select[name='type']").val()) {
                  optionDomStr += res.data.map((item,index) => `<option ${$("select[name='type']").val()===item.id ? 'selected' : ''} value="${item.id}">${item.name}</option>`);
                } else {
                  optionDomStr += res.data.map((item,index) => `<option ${index===0 ? 'selected' : ''} value="${item.id}">${item.name}</option>`);
                }
                // console.log($("select[name='engine_room']"));
                $("select[name='type']").empty().append(optionDomStr);
                form.render('select');
            }
        });
      //监听提交
      // form.on('submit(post)', function(data){
      //   layer.msg(JSON.stringify(data.field));
      //   return false;
      // });
    });
    </script>