<table class="layui-table">
    <colgroup>
      <col width="200">
      <col>
    </colgroup>
    <thead>
      <tr>
        <th>标题</th>
        <th>描述</th>
      </tr> 
    </thead>
    <tbody>
        {volist name="rows" id="vo" }
        <tr>
            <td>{$vo.label}</td>
            <td>
                {if $vo.value == 'thumbnail' }
                    <img width='114px' id='thumbnail' src='{$data[$vo.value]}' />
                {else /}
                    {$data[$vo.value]}
                {/if}
            </td>
        </tr>
        {/volist}
    </tbody>
  </table>